@import "../../config";

.wallets {
  .wallet {
    align-self: stretch;
    &-content {
      display: flex;
      justify-content: space-between;
      .green {
        color: rgb(116, 226, 116);
      }
      .red {
        color: red;
      }
    }
  }
  .wallet-container {
    margin: 0 0 $padding / 2 0;
    &:last-child {
      margin: 0;
    }
  }
}
.empty {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}
