@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap");
@import "../components/config";

html[data-theme="dark"] {
  scroll-behavior: smooth;
  --bgColor: #222635;
  --primaryColor: #2f3a5a;
  --secondaryColor: #e68a13;
  --textColor: rgb(241, 241, 241);
  --whiteTextColor: #fff;
  --linksColor: #5876fa;
  --activelinksColor: #68afff;
}

html[data-theme="light"] {
  scroll-behavior: smooth;
  --bgColor: #fbfbfb;
  --primaryColor: #5876fa;
  --secondaryColor: #fcd53d;
  --textColor: #333;
  --whiteTextColor: #fff;
  --linksColor: #263474;
  --activelinksColor: #1a2141;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  .responsive-container {
    min-height: calc(100vh - 225px);
  }

  body {
    color: var(--textColor);
  }
  a {
    text-decoration: none;
    font-size: $textSize;
    font-weight: $mediumWeight;
    color: var(--linksColor);
    &:active {
      color: var(--activelinksColor);
    }
  }
  p {
    font-size: $textSize;
  }
  span {
    font-size: $textSize;
  }
  hr {
    margin: (2 * $padding) 0;
    height: 0;
    background: var(--textColor);
    border: 0.5px solid var(--textColor);
  }
  input:focus,
  select:focus {
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.responsive-container {
  background-color: var(--bgColor);
}

@import "../assets/responsivity";
