@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap");
html[data-theme="dark"] {
  scroll-behavior: smooth;
  --bgColor: #222635;
  --primaryColor: #2f3a5a;
  --secondaryColor: #e68a13;
  --textColor: rgb(241, 241, 241);
  --whiteTextColor: #fff;
  --linksColor: #5876fa;
  --activelinksColor: #68afff;
}

html[data-theme="light"] {
  scroll-behavior: smooth;
  --bgColor: #fbfbfb;
  --primaryColor: #5876fa;
  --secondaryColor: #fcd53d;
  --textColor: #333;
  --whiteTextColor: #fff;
  --linksColor: #263474;
  --activelinksColor: #1a2141;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}

* .responsive-container {
  min-height: calc(100vh - 225px);
}

* body {
  color: var(--textColor);
}

* a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--linksColor);
}

* a:active {
  color: var(--activelinksColor);
}

* p {
  font-size: 14px;
}

* span {
  font-size: 14px;
}

* hr {
  margin: 50px 0;
  height: 0;
  background: var(--textColor);
  border: 0.5px solid var(--textColor);
}

* input:focus,
* select:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.responsive-container {
  background-color: var(--bgColor);
}

.responsive-container {
  padding: 50px 25px;
  -webkit-transition: padding 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out;
}

.header,
.footer {
  padding-left: 25px;
  padding-right: 25px;
  -webkit-transition: padding 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out;
}

.header-hamburger-nav {
  padding-left: 25px;
  padding-right: 25px;
}

.header-nav {
  display: none;
}

.home-hero {
  margin: -50px -25px 0 -25px;
}

@media screen and (min-width: 576px) {
  .responsive-container {
    padding: 50px 50px;
    -webkit-transition: padding 0.2s ease-in-out;
    transition: padding 0.2s ease-in-out;
  }
  .header,
  .footer {
    padding-left: 50px;
    padding-right: 50px;
  }
  .header .scroll-to-top,
  .footer .scroll-to-top {
    display: block;
  }
  .header-switch,
  .footer-switch {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-switch .scroll-to-top,
  .footer-switch .scroll-to-top {
    display: none;
  }
  .header-nav {
    display: block;
  }
  .header-hamburger-nav,
  .header-hamburger-icon {
    display: none;
  }
  .home-hero {
    margin: -50px -50px 0 -50px;
  }
}

@media screen and (min-width: 768px) {
  .responsive-container {
    padding: 50px 75px;
    -webkit-transition: padding 0.2s ease-in-out;
    transition: padding 0.2s ease-in-out;
  }
  .header,
  .footer {
    padding-left: 75px;
    padding-right: 75px;
  }
  .home-hero {
    margin: -50px -75px 0 -75px;
  }
}

@media screen and (min-width: 992px) {
  .responsive-container {
    padding: 50px 100px;
    -webkit-transition: padding 0.2s ease-in-out;
    transition: padding 0.2s ease-in-out;
  }
  .header,
  .footer {
    padding-left: 100px;
    padding-right: 100px;
  }
  .home-hero {
    margin: -50px -100px 0 -100px;
  }
}
/*# sourceMappingURL=App.css.map */