// Colors
$primaryColor: #5876fa;
$secondaryColor: #fcd53d;
$textColor: #333;
$linksColor: darken($primaryColor, 30%);
$activelinksColor: darken($linksColor, 30%);

// Font
$poppins: "Poppins", sans-serif;

// Font Sizes
$textSize: 14px;
$titleSize: 21px;

// Font Weights
$lightWeight: 300;
$textWeight: 400;
$mediumWeight: 500;
$boldWeight: 900;

// Padding Unit
$padding: 25px;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;

@mixin transitioner($prop) {
  transition: $prop 0.3s ease-in-out;
}
