// Colors
$primaryColor: #5876fa;
$secondaryColor: #fcd53d;
$textColor: #333;
$linksColor: darken($primaryColor, 40%);

// Font
$poppins: "Poppins", sans-serif;

// Font Sizes
$textSize: 14px;
$titleSize: 21px;

// Font Weights
$lightWeight: 300;
$textWeight: 400;
$mediumWeight: 500;
$boldWeight: 900;

// Padding Unit
$padding: 25px;
