// Colors
$primaryColor: #5876fa;
$secondaryColor: #fcd53d;
$textColor: #333;
$linksColor: darken($primaryColor, 30%);
$activelinksColor: darken($linksColor, 30%);

// Font
$poppins: "Poppins", sans-serif;

// Font Sizes
$textSize: 14px;
$titleSize: 21px;
$heroSize: 40px;

// Font Weights
$lightWeight: 300;
$textWeight: 400;
$mediumWeight: 500;
$boldWeight: 700;

// Padding Unit
$padding: 25px;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;

@mixin transitioner($props...) {
  $transition: ();
  @each $prop in $props {
    $transition: append($transition, $prop 0.2s ease-in-out, $separator: comma);
  }
  transition: $transition;
}

// Shadow

@mixin shadow($px) {
  box-shadow: -$px $px ($px * 2) 0 rgba(51, 51, 51, 0.5);
}

@function set-text-color($color) {
  @if (lightness($color) > 70) {
    // Test condition
    @return #333; // If $colour's lightness is higher than 70 / 100 set color to #333
  } @else {
    @return #fff; // Else set color to white
  }
}
