@import "../../config";

.my-link {
  position: relative;
  color: var(--linksColor);
  &::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--linksColor);
    @include transitioner(width);
  }
  &:hover::before {
    width: 100%;
  }
  &:active {
    color: var(--activelinksColor);
    &::before {
      background-color: var(--activelinksColor);
    }
  }
}
