@import "../../config";

.container {
  padding: $padding;
  border-radius: ($padding/2);
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.container-blue {
  background-color: var(--primaryColor);
  color: var(--whiteTextColor) !important;
}

.container-yellow {
  background-color: rgba(var(--secondaryColor), 0.85);
  color: var(--textColor);
}

.container-white {
  background-color: rgba(#fff, 0.85);
  color: var(--textColor);
}

.container-black {
  background-color: rgba(var(--textColor), 0.8);
  color: var(--whiteTextColor);
}
