@import "../components/config";

.responsive-container {
  padding: 50px $padding;
  @include transitioner(padding);
}

.header,
.footer {
  padding-left: $padding;
  padding-right: $padding;
  @include transitioner(padding);
}

.home {
  &-hero {
    margin: -50px (-$padding) 0 (-$padding);
  }
}

@media screen and (min-width: $sm) {
  .responsive-container {
    padding: 50px $padding * 2;
    @include transitioner(padding);
  }

  .header,
  .footer {
    padding-left: $padding * 2;
    padding-right: $padding * 2;
  }

  .home {
    &-hero {
      margin: -50px (-2 * $padding) 0 (-2 * $padding);
    }
  }
}

@media screen and (min-width: $md) {
  .responsive-container {
    padding: 50px $padding * 3;
    @include transitioner(padding);
  }

  .header,
  .footer {
    padding-left: $padding * 3;
    padding-right: $padding * 3;
  }

  .home {
    &-hero {
      margin: -50px (-3 * $padding) 0 (-3 * $padding);
    }
  }
}

@media screen and (min-width: $lg) {
  .responsive-container {
    padding: 50px $padding * 4;
    @include transitioner(padding);
  }

  .header,
  .footer {
    padding-left: $padding * 4;
    padding-right: $padding * 4;
  }

  .home {
    &-hero {
      margin: -50px (-4 * $padding) 0 (-4 * $padding);
    }
  }
}
