@import "../../config";

.footer {
  width: 100%;
  min-height: 125px;
  background-color: var(--primaryColor);
  padding-top: $padding;
  padding-bottom: $padding;
  &-nav {
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      align-items: center;
    }
    .scroll-to-top {
      display: none;
    }
    &-item {
      margin: 0 10px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &-link {
        font-size: $textSize;
        font-weight: $mediumWeight;
        color: white;
        &::before {
          background-color: white;
        }
      }
    }
  }
  &-switch {
    display: flex;
    justify-content: space-between;
    margin-top: ($padding/2);
  }
  .scroll-to-top {
    line-height: $textSize/2 + 5;
    text-align: right;
    padding-right: $padding;
    position: relative;
    color: white;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: $titleSize;
      @include transitioner(transform);
    }
    &:hover::after {
      transform: translateY(-100%);
    }
  }
  hr {
    margin-top: ($padding/2);
    margin-bottom: ($padding/2);
    border: var(--linksColor) 1px solid;
    background-color: var(--linksColor);
  }
  &-copyright {
    color: var(--linksColor);
    text-align: center;
  }
}
